body {
	margin: 5px 4% 50px;
	font: 14px/18px 'Droid Sans', Arial, sans-serif;
	background: #F4F4F4 url(../img/sitebg.png) center center;
}


#pagewrapper {
	margin: 0 auto;
	width: 98%;
	max-width: 80em;
}

#topnav {
}

.whitebg {
	background:#fff;
}


.indent {
	padding: 1em 100px .1em;
}


#topnav > ul {
	margin:0 0 0 87px;
	padding:0;
}

#topnav > ul > li {
	margin:0;
	padding:0;
	display:inline-block;
	*float:left;
}
#topnav > ul > li > a {
	padding:10px 12px;
	display:inline-block;
	color: inherit;
	text-decoration:none;
	font-weight:bold;
}

#topnav > ul > li > a:hover {
	color:#fff;
	background: #CD1D23;
}

#logo {
	margin-left:-42px;
	float:left;
}


.clr {
	clear:both;
}


.pr {
	padding: 36px 7% 0 100px;
}

.prh {
	font-size:1.4em;
	text-transform: uppercase;
	letter-spacing:.1em;
	font-weight:bold;
}

.prorga {
	font-weight:normal;
	display:inline-block;
	position:relative;
	line-height:1em;
	margin: 0 .7em .7em 0;
}

.prorga:after {
	content: "";
	display:block;
	height:1.8em;
	margin: -1.4em -.6em 0;
	border-right: 2px solid #000;
	padding:0 30px;
}

.prt {
	font-weight: bold;
	font-size: 1.3em;
}


h1 {
	color: #CD1D23;
	font-size: 2.3em;
	line-height: 1.1em;
	margin: .2em -.1em;
}

.teaser {
	font-weight:bold;
	font-size:1.1em;
	margin: 1.6em 0;
}

h2 {
	font-size: 1.8em;
	text-transform:uppercase;
}

h3 {
	font-size: 1.4em;
	color: #CD1D23;
	text-transform:uppercase;
	margin: .6em 0;
}

p {
	margin: .6em 0;
}

.claim  {
	margin:0;
	padding:0;
	list-style: none;
	counter-reset: item;
}

.claim > li {
	display: block;
	margin: 1.8em 0;
}

.claim > li:before {
	display: inline-block;
	content: counter(item);
	counter-increment: item;
	width: 29px;
	height: 35px;
	margin: -9px 0 0 -40px;
	float: left;
	text-align: center;
	font-size:1.2em;
	color:#999;
	line-height:1em;
	padding-top:9px;
	background: url(../img/claim.png) no-repeat;
}




#howto {
	padding-top: 20px;
}

.howtoicon {
	float: left;
	margin-right: 5px;
}

#flow {
	list-style: none;
	margin: 0 10%;
	padding: 0;
}

#flow h3 {
	margin: 0;
	color: #333;
	margin: .2em 0;
}

#flow p {
	margin: .2em 0;
	color: #444;
	line-height:1.2em;
}

#flow li {
	margin-bottom: 20px;
	min-height: 60px;
}


.bt {
	position: relative;
	background: #CF3535;
	background: -webkit-linear-gradient(#CF3535, #B11717);
	background: linear-gradient(#CF3535, #B11717);
	padding: 20px;
	font-size: 2em;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	margin: 1em 0;
	box-shadow: #000 0 5px 14px -5px;
	border: 1px solid #F77;
	border-bottom: 2px solid #870000;
}


.bt:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #CF3535 transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -15px;
	top: -15px;
	left: 50%;
}

.bt:hover {
	background: #EE6A6A;
	background: -webkit-linear-gradient(#EE6A6A, #C52B2B);
	background: linear-gradient(#EE6A6A, #C52B2B);
}

.bt:hover:after {
	border-color: #EE6A6A transparent;
}


.blocklink {
	text-decoration:none;
	color:black;
}
.ovhid {
	overflow:hidden;
}

.pseudolink {
	color: blue;
	text-decoration: underline;
}

#mainthing {
	background: #fff;
	margin-bottom:1em;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 3px;
}


#act {
	background: #E3E6EA;
	border-left: 1px solid #C7C7C7;
	padding: 2em 30px;
	display: table-cell;
}


#claims {
	width: 60%;
	padding-top: 30px;
	padding-right: 25px;
	display: table-cell;
	vertical-align: top;
}
.bar_all {
	border: 0;
	height: 50px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px inset;
	position:relative;
}
.bar_full {
	background: #CD1D23;
	background: linear-gradient(to right, rgba(217, 17, 23, 0.43), rgba(218, 0, 0, 0.65));
	height: 100%;
	border-right: 1px solid rgba(190, 0, 0, 0.8);
}

.bar_text {
	position: absolute;
	top: 16px;
	left: 0;
	right: 0;
	text-align: center;
	font-weight: bold;
	text-shadow: #fff 1px 1px 3px,#fff -1px -1px 3px,#fff -1px 0 3px;
	font-size:1.2em;
}

@media (max-width: 64em) {
	.bt {
		margin: 5%;
		padding: 4%;
	}

	#claims {
		width: auto;
		display:block;
		padding-right: 100px;
	}

	#act {
		display:block;
		padding-top:20px;
	}

	.progressbar {
		margin: 0 -31px;
	}

	#logo {
		margin: 12px 0;
		width: 85px;
	}


	#howto {
		padding-top: 0;
	}
	#flow {
		margin: 0;
	}
	#flow li {
		margin-bottom: 10px;
		float: left;
		width: 23%;
		margin: 1%;
		text-align: center;
	}
	#flow h3 {
		margin: 0;
		margin: .2em 0;
		font-size: 1.15em;
	}
	.howtoicon {
		float: none;
		margin-right: 5px;
	}
	#flow p {
		margin: 0;
		font-size: .9em;
	}
}


@media (max-width: 50em) {
	#flow li {
		float:none;
		width: 320px;
		margin: 10px auto;
	}
}